<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <property name="log.file.path" value="${catalina.base}/logs/" />
    <property name="log.file.name" value="dsp"/>
    <property name="log.encoder.pattern.error.file" value="%date{yyyy-MM-dd HH:mm:ss.SSS z} %logger{15} - %msg%n" />

    <property name="log.encoder.pattern.console"
              value="%date{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n"/>

    <property name="log.encoder.charset" value="UTF-8"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.encoder.pattern.console}</pattern>
            <charset>${log.encoder.charset}</charset>
        </encoder>
    </appender>

    <appender name="sift-tenant" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>tenant</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="file-${tenant}" class="ch.qos.logback.core.FileAppender">
                <file>logs/${tenant}-success.log</file>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS z} - %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <appender name="error-file" class="ch.qos.logback.core.FileAppender">
        <file>logs/error.log</file>
        <append>false</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${log.encoder.pattern.error.file}</pattern>
        </layout>
    </appender>

    <logger name="fi.netorek.smsmediator.msgrouting.log.SuccessTenantLogHandler" level="info">
        <appender-ref ref="sift-tenant"/>
    </logger>

    <logger name="fi.netorek.smsmediator.msgrouting.log.ErrorLogHandler" level="error">
        <appender-ref ref="error-file"/>
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

</configuration>
